<!DOCTYPE html>
<html>
  <head>
    <title>MonondachMarine</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div>
      <li><%= link_to "Add a Boat listing", new_boat_path%></li>
      <li> <%= link_to "Home port", boats_path %></li>
    </div>
    <%= yield %>
  </body>
</html>
